body {
    margin: 0;
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}

#game {
    display: inline-block;
}

.board {
    min-width:  256px;
    min-height: 256px;
    padding: 2px 3px;
    border: 8px solid #484848;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.31);
    background-color: dimgray;
}

.row {
    display: flex;
    flex-direction: row;
    height: auto;
    margin: 2px 0;
    /* background-color: rgb(163, 161, 161); */
}

.cell {
    height: 64px;
    width: 64px;
    margin: 0 1px;
    border-radius: 2px;
    background-color: aliceblue;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.empty {
   background-color: unset;
   box-shadow:none;
}